body{
    display: flex;
    justify-content: center;
    padding-top: 200px;
}
.overall-container{
    width: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #CEE6D4;
}
.display-container{
    width: 250px;
    height: 200px;
    padding: 5px 20px;
    
}
.operands-container{
    height: 120px;
    position: relative;
}
.string-container, .string-container2{
    position: absolute;
    bottom: 0;
    right: 0;
}
.result-container{
    height: 80px;
    position: relative;
    font-size: 25px;
    font: bolder;
    
}
.string-container2{
    bottom: 50%;
}
.buttons-container{
    width: 250px;
    height: fit-content;

    display: flex;
    justify-content: center;
    gap: 5px;
}
button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid black;

}
button:hover{
    background-color: rgb(216, 216, 216);
}
.operands-btns, .numbers-btns{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.operands-btns{
    padding-top: 20px;
}
.operands-btns button{
    background-color: #ED8EA4;
}
.misc-btns{
    padding-top: 20px;
    padding-bottom: 5px;
    
}
.misc-btns button, #dot{
    background-color: #EFE0C2;
}
#zero{
    width: 100px;
}